h1, h2, h3, p {
  text-align: center;
}

.followers {
  display: grid;
  grid-template-columns: auto auto auto;
}

.follower-cards {
  margin: 0 auto;
}

.follower-card-image {
  max-width: 20vw;
  max-height: 40vh;
}

.user-card {
  margin: 40px auto;
}

.user-box {
  border: 1px solid black;
  width: 80vw;
  margin: 40px auto;
}

.user-image {
  display: block;
  margin: 0 auto;
}

.search-form {
  margin: -20px auto 40px auto;
}

.search-input {
  display: block;
  margin: 0 auto;
  width: 40vw;
}

.search-button {
  display: block;
  margin: 20px auto;
  width: 40vw;
  background: black;
  color: white;
  transition: 0.6s;
}

.search-button:hover {
  border: 1px solid black;
  color: black;
  background: white;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 70vw;
}